.Container{
width: 100%;
height: 100%;
display: flex ;
flex-direction: column ;
align-items: center;
background-color: gray;

}


header{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.Titulo{
color: brown;
}

.Menu{
display: flex;
gap: 40px;
list-style-type: none;
}

.produtos{
display: flex;
align-items: center;
flex-direction:column;
}

.produto{
    display: flex;
    align-items: center;
    flex-direction: column;
}

a{
    text-decoration: none;
    color:black;
    font-size: 30px ;
}

p{
    font-size: 20px;
}

@keyframes boomerang {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  50% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0.8);
  }
}

.produto{
 animation: boomerang 2s ease-in-out forwards;
}

